<a href="https://colab.research.google.com/github/Syane24/Shaine-Peregrino-/blob/main/phyton_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 20 is", sum(1, 21)) 
    print("Sum from 36 to 55 is", sum(36, 56))
    print("Sum from 57 to 65 is", sum(57, 66))

main() # Call the main function

Sum from 1 to 20 is 210
Sum from 36 to 55 is 910
Sum from 57 to 65 is 549

In [20]:
def sum(i1, i2, i3):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 15 is", sum(1, 16, 2)) 
    print("Sum from 20 to 35 is", sum(20, 36, 3))
    print("Sum from 40 to 65 is", sum(40, 66, 5))

main() # Call the main function

Sum from 1 to 15 is 120
Sum from 20 to 35 is 440
Sum from 40 to 65 is 1365

In [34]:
def sum(i1,i2,i3):
    result = 0
    for i in range(i1,i2,i3):
        result += i
    return result

def main():
    print("Sum1 ", sum(1, 16 ,2)) 
    print("Sum2 ", sum(20, 36 ,3))
    print("Sum3 ", sum(40, 66,5))

main() # Call the main function

Sum1  64
Sum2  165
Sum3  315

In [43]:
def swap(x,y):
  x,y = y,x
  return (x,y)

if __name__ == '__main__':
    x = 16
    y = 24
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 16,y = 24
x = 24,y = 16

In [31]:
def sort(number1, number2, number3):
    if (number1 < number2) and (number1 < number3):
      if number2 < number3:
        return number1, number2,number3
      else:
        return number1, number3,number2
    if (number2 < number1) and (number2 < number3):
      if number1 < number3:
        return number2, number1,number3
      else:
        return number2, number3,number1    
    if (number3 < number1) and (number3 < number2):
      if number1 < number2:
        return number3, number1,number2
      else:
        return number3, number2,number1 

num1, num2, num3  = sort(4,28,32)

print("num1 is", num1)
print("num2 is", num2)
print("num2 is", num3)

num1 is 4
num2 is 28
num2 is 32

In [54]:
#!/usr/bin/python 
#-*-coding: UTF-8 -*- 

def printArea(width = 15, height = 11):
    area = width * height
    print ("width:", width, "\theight:", height, "\tarea:", area)

use default arguments

In [52]:
printArea()

width: 15 	height: 11 	area: 165

Use Keyword arguments

In [55]:
printArea(width = 12, height = 8)

width: 12 	height: 8 	area: 96

In [56]:
printArea(height = 8, width = 12)

width: 12 	height: 8 	area: 96

Use Positional arguments

In [57]:
printArea(12,8)

width: 12 	height: 8 	area: 96

In [58]:
printArea(8,12)

width: 8 	height: 12 	area: 96

In [60]:
f1 = lambda x, y, z: x+4*y+5*z
print(f1(7,5,9))

72

In [64]:
def myfunc(m):
    return m*m

my_list = [4, 9, 15, 17, 22]

## 使用python的map()

print(list(map(lambda x:myfunc(x), my_list)))

[16, 81, 225, 289, 484]